{{#extends 'base'}}

{{#block 'title'}}
Orders
{{/block}}

{{#block 'content'}}

<header class="">
    <h1>Delete Order (CustomerId-OrderId): {{order.customer_id}}-{{order.id}}</h1>
</header>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="alert alert-danger">
        <p>Are you sure you want to delete this {{order.order_status}} order from {{order.customer.first_name}} {{order.customer.last_name}}?</p> 
        <input type="submit" value="Yes" class="btn btn-danger"/>
        <a href="/orders" class="btn btn-success">No</a>
    </div>
</form>

{{/block}}

{{/extends}}