{{#extends 'base'}}

{{#block 'title'}}
Orders
{{/block}}

{{#block 'content'}}
<header class="">
    <h1>Orders Administration</h1>
    <p>All Orders from eCommerce Shop</p>
</header>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Order Date</th>
            <th>Customer Name</th>
            <th>Delivery Address</th>
            <th>Delivery Date</th>
            <th>Total Amount</th>
            <th>Order Status</th>
            <th>Payment Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.orderDateStr}}</td>
                <td>{{this.customer.last_name}}, {{this.customer.first_name}}</td>
                <td>{{this.delivery_address}}</td>
                <td>{{this.deliveryDateStr}}</td>
                <td>$ {{this.orderTotalAmountStr}}</td>
                <td>{{this.order_status}}</td>
                <td>{{this.payment_status}}</td>

                <td>
                    <a href="/orders/{{this.id}}/set-status/Processing" class="btn btn-secondary btn-sm">Process</a>
                    <a href="/orders/{{this.id}}/set-status/Delivering" class="btn btn-primary btn-sm">Deliver</a>
                    <a href="/orders/{{this.id}}/set-status/Complete" class="btn btn-success btn-sm">Complete</a>
                    <a href="/orders/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>

{{!--             
                <table class="table">
                    <thead>
                        <tr><th></th><th>Order Details</th></tr>
                        <tr>
                            <th></th>
                            <th>Image</th>            
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>                               
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.orderItems}}
                            <tr>
                                <td></td>
                                <td>
                                    {{#if this.product.image_url}}
                                        <img src="{{this.product.image_url}}" class="img-fluid img-thumbnail" style="max-height:120px; max-width:150px"/>
                                    {{/if}}
                                </td>                
                                <td>{{this.product.name}}</td>
                                <td>{{this.product.category.name}}</td>
                                <td>$ {{this.unitSalesPriceStr}}</td>
                                <td>{{this.quantity}}</td>
                                <td>$ {{this.amountStr}}</td>            
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
             --}}


            </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}