{{#extends 'base'}}

{{#block 'title'}}
Products
{{/block}}

{{#block 'content'}}
<header class="">
    <h1>Products Administration</h1>
    <p>All products will be shown on the eCommerce front-end under the categories: Meals and Juices. Rest of categories will be under Others.</p>
    <a href="/products/create" class="btn btn-success">Create</a>
</header>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Available Stock</th>
            <th>Add Stock</th>
            <th>Stock for Fulfilment</th>
            <th>Tags</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.category.name}}</td>
                <td>{{this.brand.name}}</td>
                <td>{{this.description}}</td>
                <td>$ {{this.unitPriceStr}}</td>

                <td>{{this.quantity_in_stock}}</td>
                <td>
                    <form method="POST" action="/products/{{this.id}}/stock/update">
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}"/>
                        <div class="d-inline-flex">
                            <input type="number" value="0" name="quantityToAdd" style="width:40px;" />{{' '}}
                            <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                        </div>
                    </form>
                </td>

                <td>{{this.quantity_to_fulfill}}</td>
                <td>
                    {{#each this.tags}}
                        <span class="badge bg-info">
                            {{this.name}}
                        </span>
                    {{/each}}
                </td>

                <td>
                    {{#if this.image_url}}
                        <img src="{{this.image_url}}" class="img-fluid img-thumbnail" style="max-height:100px"/>
                    {{/if}}
                </td>
                <td>
                    <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}
